img {
    width: 6rem;
    height: 6rem;
}

.bigImage {
    width: 12rem;
    height: 12rem;
}

body {
    text-align: center;
    background-color: #2C3333;
    color: #CBE4DE;
    font-family: 'Courier New', Courier, monospace;
}

.left-side {
    text-align: left;
    margin: 1rem;
    width: 10%;
}

.sill {
    filter: brightness(0);
}

.btn {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: #2C3333;

}

.btn-save {
    background: #ffdb26;
    background-image: -webkit-linear-gradient(top, #ffdb26, #48c26e);
    background-image: -moz-linear-gradient(top, #ffdb26, #48c26e);
    background-image: -ms-linear-gradient(top, #ffdb26, #48c26e);
    background-image: -o-linear-gradient(top, #ffdb26, #48c26e);
    background-image: linear-gradient(to bottom, #ffdb26, #48c26e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-save:hover {
    background: #778a65;
    text-decoration: none;
}

.worldLink {
    text-decoration: none;
    color: white;
    background-color: #9E7676;
    padding: 5px;
    font-size: 20px;
}

#world1 {
    background-color: #9E7676;
    color: whitesmoke;
}

#world2 {
    background-color: #3c8453;
    color: whitesmoke;
}

#world3 {
    background-color: #009699;
    color: whitesmoke;
}

aside {
    height: 100%; 
    width: 20vw; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #CBE4DE; 
    border-left: #7f7f7f solid 10px;
    padding-top: 20px;
    bottom: 0;
    overflow: scroll;
    color: #2C3333;
    /*this entire thing is all stack overflow code*/
}

a {
    color: whitesmoke;
    text-decoration: none;
}